.app-wraper {
  display: grid;
  grid-template-areas:
  "header header"
  "nav content";
  grid-template-rows: 70px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 15px;
}
.header {
  grid-area: header;
  background-color: #32a852;
}
.logo {
  font-size: 16px;
  text-transform: uppercase;
}
.nav {
  grid-area: nav;
  background-color: #32a852;
}
.content {
  grid-area: content;
  background-color: #32a852;
}
.promo {
  background: url("https://obninsksite.ru/assets/theme/images/blog/68.jpg") center / cover no-repeat;
  height: 150px;
}
